<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body
    th:replace="~{email/base :: layout(~{::section}, 'Password reset', false, ${preferencesUrl})}"
  >
    <section>
      <p>Hi <strong th:text="${firstName}">there</strong>,</p>
      <p>We received a request to reset your ReviewFlow password.</p>
      <p>
        <a th:href="${resetUrl}" style="color: #2563eb; text-decoration: none">Set a new password</a>
      </p>
      <p>If you did not request this, you can ignore this email.</p>
    </section>
  </body>
</html>
